<form [formGroup]="editForm" class="container">
    <h2 class="display-5">ID: {{ id }}</h2>
    <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cidade" formControlName="city">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Idade" formControlName="age">
    </mat-form-field>

    <div class="button-row">
        <button mat-raised-button color="primary" (click)="submit(editForm.value)">
            Salvar
            <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="warn" routerLink="/">
            Cancelar
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</form>