<div class="container">
    <h2 class="ui header">ID: {{id}}</h2>
    <mat-form-field>
        <input matInput placeholder="Nome">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cidade">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Idade">
    </mat-form-field>

    <div class="button-row">
        <button mat-raised-button color="primary">
            Salvar 
            <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="warn">
            Cancelar
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</div>
